@font-face {
    font-family: 'Allerta Stencil', sans-serif;
    src: url('/themes/Lumos/static/fonts/AllertaStencil-Regular.ttf');
    src: url('/themes/Lumos/static/fonts/AllertaStencil-Regular.ttf') format('ttf'),
         url('/themes/Lumos/static/fonts/AllertaStencil-Regular.ttf') format('truetype');
}